In [2]:
from pyspark.sql import SparkSession
student_data = [("Chris",1523,0.72,"CA"),
                ("Jake", 1555,0.83,"NY"),
                ("Cody", 1439,0.92,"CA"),
                ("Lisa",1442,0.81,"FL"),
                ("Daniel",1600,0.88,"TX"),
                ("Kelvin",1382,0.99,"FL"),
                ("Nancy",1442,0.74,"TX"),
                ("Pavel",1599,0.82,"NY"),
                ("Josh",1482,0.78,"CA"),
                ("Cynthia",1582,0.94,"CA")]
spark = SparkSession.builder.getOrCreate()
student_rdd = spark.sparkContext.parallelize(student_data)

1. Convert the grades in the third column from decimals to whole numbers (multiply by 100) and keep the other three variables. Save this new RDD as `rdd_transformation`.

In [8]:
## YOUR SOLUTION HERE ##
rdd_transformation = student_rdd.map(lambda x: (x[0], x[1], int(x[2]*100), x[3]))

# confirm transformation is correct
rdd_transformation.collect() # collect is a function that returns the RDD structure to stdio

[('Chris', 1523, 72, 'CA'),
 ('Jake', 1555, 83, 'NY'),
 ('Cody', 1439, 92, 'CA'),
 ('Lisa', 1442, 81, 'FL'),
 ('Daniel', 1600, 88, 'TX'),
 ('Kelvin', 1382, 99, 'FL'),
 ('Nancy', 1442, 74, 'TX'),
 ('Pavel', 1599, 82, 'NY'),
 ('Josh', 1482, 78, 'CA'),
 ('Cynthia', 1582, 94, 'CA')]

2. Filter `rdd_transformation` to just those rows with grades above 80 and save the new RDD as `rdd_filtered`.

In [11]:
## YOUR SOLUTION HERE ##
rdd_filtered = rdd_transformation.filter(lambda x: x[2] >= 80)

# confirm transformation is correct
rdd_filtered.collect()

[('Jake', 1555, 83, 'NY'),
 ('Cody', 1439, 92, 'CA'),
 ('Lisa', 1442, 81, 'FL'),
 ('Daniel', 1600, 88, 'TX'),
 ('Kelvin', 1382, 99, 'FL'),
 ('Pavel', 1599, 82, 'NY'),
 ('Cynthia', 1582, 94, 'CA')]